# Basic Dictionay Operations

1. Create a dictionary with 3 key-value pairs (name, age, city).

In [4]:
a = {"Name":"Sujit","Age":24,"CITY":"Gargoti"}
a

{'Name': 'Sujit', 'Age': 24, 'CITY': 'Gargoti'}

2. Create a dictionary and print the value of a specific key.

In [5]:
b = {"Name":"Sujit","Age":24,"CITY":"Gargoti"}
b["Name"]

'Sujit'

3. Make a dictionary and add a new key-value pair to it.

In [24]:
c = {"Name":"Sujit","Age":24,"CITY":"Gargoti"}
c["ROll"] = 1
c

{'Name': 'Sujit', 'Age': 24, 'CITY': 'Gargoti', 'ROll': 1}

4. Create a dictionary and change the value of an existing key.

In [29]:
d = {"Name":"Sujit","Age":24,"CITY":"Gargoti"}
d["Name"] = "Sagar"
d

{'Name': 'Sagar', 'Age': 24, 'CITY': 'Gargoti'}

5. Create a dictionary and remove one key using pop().

In [25]:
e = {"Name":"Sujit","Age":24,"CITY":"Gargoti","Age":24}
e.pop("Age")

24

6. Create a dictionary and remove the last inserted item using popitem().

In [ ]:
f = {"Name":"Sujit","Age":24,"CITY":"Gargoti"}
f.popitem() #delete the last value

{'Name': 'Sujit', 'Age': 24}

7. Create a dictionary and print all the keys.

In [1]:
g = {"Name":"Sujit","Age":24,"CITY":"Gargoti"}
g.keys()

dict_keys(['Name', 'Age', 'CITY'])

8. Create a dictionary and print all the values.

In [3]:
h = {"Name":"Sujit","Age":24,"CITY":"Gargoti"}
h.values()

dict_values(['Sujit', 24, 'Gargoti'])

9. Create a dictionary and print all the key-value items.

In [5]:
i = {"Name":"Sujit","Age":24,"CITY":"Gargoti"}
i

{'Name': 'Sujit', 'Age': 24, 'CITY': 'Gargoti'}

10. Make a dictionary and check the number of items using len().

In [ ]:
j = {"Name":"Sujit","Age":24,"CITY":"Gargoti"}
j.__len__()

3

11. Create a dictionary and check if a certain key exists (using "key" in dict).

In [18]:
k = {"Name":"Sujit","Age":24,"CITY":"Gargoti"}
k.__len__()

3

12. Create an empty dictionary and add two key-value pairs one by one.

In [9]:
l = {}
l["Name"]="Sujit"
l["Address"]="Gargoti"
l

{'Name': 'Sujit', 'Address': 'Gargoti'}

13. Create a dictionary and update one keyâ€™s value using update().

14. Create two dictionaries and combine them using update().

15. Make a dictionary and get the value of a key using get().

16. Create a dictionary and print its type using type().

In [7]:
q = {"Name":"Sujit","Age":24,"CITY":"Gargoti"}
type(q)

dict

17. Create a dictionary and replace one value with a new one.

In [6]:
r = {"Name":"Sujit","Age":24,"CITY":"Gargoti"}
r["Name"]="Harsh"
r

{'Name': 'Harsh', 'Age': 24, 'CITY': 'Gargoti'}

18. Create a dictionary and clear all items using clear().

In [ ]:
s = {"Name":"Sujit","Age":24,"CITY":"Gargoti"}
s.clear()

19. Create a dictionary with numbers as keys and names as values. Print the dictionary.

In [9]:
t = {"1":"Sujit","2":"Harsh","3":"Sagar"}
t

{'1': 'Sujit', '2': 'Harsh', '3': 'Sagar'}

20. Create a dictionary and copy it into a new dictionary using copy().

In [ ]:
u = {"Name":"Sujit","Age":24,"CITY":"Gargoti"}
u.copy()