### 1. Print numbers from 1 to 10 using a for loop

In [2]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

### 2. Print all even numbers between 1 and 20 using a for loop

In [3]:
for num in range(1, 21):
    if num % 2 == 0:
        print(num)

2
4
6
8
10
12
14
16
18
20

### 3. Print each character of the string 'Python' using a for loop

In [10]:
for char in "Python":
    print(char)

P
y
t
h
o
n

### 4. Print the squares of numbers from 1 to 5 using a for loop

In [10]:
for n in range(1, 6):
    print(n * n)

1
4
9
16
25

### 5. Print all elements of a list using a for loop

In [11]:
a = [1,2,3,4,5]

for num in a:
    print(num)

1
2
3
4
5

### 6. Calculate the sum of numbers from 1 to 50 using a for loop

In [ ]:
total = 0
for n in range(1, 51):
    total = total + n

print(total)

Sum = 1275

### 7. Print numbers from 10 to 1 in reverse using a for loop

In [18]:
for rev in reversed(range(1, 11)):
    print(rev)

10
9
8
7
6
5
4
3
2
1

### 8. Print the multiplication table of 7 using a for loop

In [27]:
for n in range(7, 71, 7):
    print(n)

7
14
21
28
35
42
49
56
63
70

### 9. Count how many vowels are in the string 'education' using a for loop

In [3]:
word = "education"
vowels = "aeiou"
count = 0

for char in word:
    if char in vowels:
        count += 1

print(count)

5

### 10. Print all odd numbers from 1 to 30 using a for loop

In [9]:
for char in range(1,31):
     if char % 2 != 0:
         print(char)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### 11. Count how many uppercase letters are in a string using a for loop

In [18]:
a = "SuJiT"
count = 0

for char in a:
    if char.isupper():
      print(char)

S
J
T

### 12. Create a new list that contains only the positive numbers from another list

In [51]:
number = [1,-1,2,3,5,-3,84,9,-4]
possitve =[]

for num in number:
    if num >= 0:
      possitve.append(num)
possitve

[1, 2, 3, 5, 84, 9]

### 13. Print numbers from 1 to 10 using a while loop

In [2]:
count = 1
while count <= 10:
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9
10

### 14. Print all multiples of 5 up to 50 using a while loop

In [1]:
num = 5
while num <= 50:
    print(num)
    num += 5

5
10
15
20
25
30
35
40
45
50

### 15. Print numbers from 10 to 1 in reverse using a while loop

In [3]:
a = 10

while a >= 1:
    print(a)
    a -= 1

10
9
8
7
6
5
4
3
2
1

### 16. Keep asking the user to enter numbers until the user enters 0

In [ ]:
while True: # yeksarkh loop chalu thevnyasathi
    num = int(input())
    if num == 0:  
        print(f"finally you enter : {num}")
        break  
    else:
        print(f"enter no: {num}")

finally you enter : 0

### 17. Use a while loop to calculate the sum of the first 10 natural numbers

In [5]:
num = 1

sumation = 0

while num <= 10:
    sumation = sumation + num
    num = num + 1
    
print(sumation)

55

### 18. Given a dictionary of fruits and their prices, print all the keys using a for loop

In [ ]:
fruits = {"Mango": 90,"Apple": 120,"Strawberry": 160}
for value in fruits.keys():
    print(value)

Mango
Apple
Strawberry

### 19. Given a dictionary of fruits and their prices, print all the values using a for loop

In [38]:
fruits = {"Mango": 90,"Apple": 120,"Strawberry": 160}
for value in fruits.values():
    print(value)

90
120
160

### 20. Print both keys and values of a dictionary using a for loop

In [43]:
fruits = {"Mango": 90,"Apple": 120,"Strawberry": 160}
for key, value in fruits.items():
    print(key, value)

Mango 90
Apple 120
Strawberry 160

### 21. Count how many keys are in a dictionary using a for loop

In [ ]:
dict = {"Name":"Sujit","Address":"Gargoti","Mob":1234567890}
count = 0
for key in dict: 
     # hyamdhe aapn dictionary mdhe kiti keys aahet te check krto v jitkya keys titkya vela count ++ hoto
    count += 1
    print(count)

1
2
3

### 22. Create a dictionary and print only the keys that start with the letter 'a'

In [1]:
dict = {"A_name":"Sujit","Address":"Gargoti","A_mob":1234567890}

for key in dict.keys(): 
    key.startswith("A")
    print(key)

A_name
Address
A_mob

### 23. Given a dictionary of student names and marks, print only the students who scored more than 80

In [ ]:
dict ={"Name":"Sujit","Marks":90},{"Name":"Harsh","Marks":88},{"Name":"Sagar","Marks":78}
for student in dict:
    if student["Marks"] > 80:
        print(student["Name"], student["Marks"])

Sujit 90
Harsh 88

### 24. Given a dictionary, print the sum of all the values using a for loop

In [8]:
dicti ={"Name":"Sujit","Marks":90},{"Name":"Harsh","Marks":88},{"Name":"Sagar","Marks":78}
total = 0
for student in dicti:
    print(student["Marks"])
    total += student["Marks"]

print("Total Marks =", total)

90
88
78
Total Marks = 256

### 25. Given a dictionary, find the key with the highest value using a for loop

In [ ]:
fruits = {"Mango": 90, "Apple": 120, "Strawberry": 160}

max_key = None
max_value = 0
for key in fruits:
    if fruits[key] > max_value:
        max_value = fruits[key]
        max_key = key
print("Key with highest value:", max_key)
print("Highest value:", max_value)

Key with highest value: Strawberry
Highest value: 160

### 26. Convert all dictionary keys into a list using a for loop

In [52]:
fruits = {"Mango": 90, "Apple": 120, "Strawberry": 160}
for value in list[fruits]:
      print(value)

*list[{'Mango': 90, 'Apple': 120, 'Strawberry': 160}]

### 27. Create a dictionary of 5 words and their lengths, then print each word and its length using a for loop

In [59]:
words = {"apple": len("apple"),"banana": len("banana"),"cat": len("cat"),"elephant": len("elephant"),"python": len("python")}
print(words)

{'apple': 5, 'banana': 6, 'cat': 3, 'elephant': 8, 'python': 6}

### 28. Given a list of numbers, print only numbers greater than 10

In [44]:
numbers = [847,23,1,5,3,6,92,234,7]
for num in numbers:
    if num > 10:
        print(num)

847
23
92
234

### 29. Count how many elements in a list are integers using a for loop

In [65]:
lst = [1,2,3,4,4,"jo","8",0]
check = 0

for value in lst:
    if type(value) == int:  
        check += value

print(check)

14

### 30. Print the sum of all even numbers in a list using a for loop

In [70]:
lst1 = [1, 2, 3, 4, 4,8, 0]
sum_even = 0

for num1 in lst1:
    if num1 % 2 == 0:  
        sum_even += num1

print(sum_even)

18

### 31. Print the cube of each number in a list of 5 numbers

In [73]:
lst = [1, 2, 3, 4, 5]
for num in lst:
    print(num ** 3)

1
8
27
64
125

### 32. Print each word in the sentence 'Python is fun' using a for loop

In [1]:
sentence = "Python is Fun"
for char in sentence:
    print(char)

P
y
t
h
o
n

i
s

F
u
n

### 33. Print the first 5 multiples of 3 using a for loop

In [32]:
for multiples in range(0, 16, 3):
   print (multiples)

0
3
6
9
12
15

### 34. Print only names that start with 'A' from a list of names

In [15]:
names = ["A_Sujit", "Harsh", "A_Sanket", "Sagar", "A_Vishal"]

for name in names:
    if name.startswith("A"):
        print(name)

A_Sujit
A_Sanket
A_Vishal

### 35. Find the largest number in a list using a for loop

In [27]:
numbers = [10, 25, 7, 99, 42]

largest = numbers[0]

for num in numbers:
    if num > largest:
        largest = num

print(f"The largest number in the list is: {largest}")

The largest number in the list is: 99

### 36. Print the index and value of each element in a list

In [ ]:
lst = ["a","d","s","w","dg"]
for char in range(len(lst)):
    print(lst[char],char)

a 0
d 1
s 2
w 3
dg 4

### 37. Create a dictionary with 5 students and their marks

In [48]:
student_marks = {"Name": "Sujit","Marks":90},
{"Name": "Harsh","Marks":89},
{"Name":"Sagar","marks":56},
{"Name": "Sanket","marks":78},
{"Name": "Vishal","marks":99},

({'Name': 'Vishal', 'marks': 99},)

### 38. Use a for loop to print all student names

In [24]:
stud = ["Sujit", "Harsh", "Sanket", "Sagar"]

for i in range(len(stud)):
    print(f" The student names is : {i + 1 , stud[i]}")

 The student names is : (1, 'Sujit')
 The student names is : (2, 'Harsh')
 The student names is : (3, 'Sanket')
 The student names is : (4, 'Sagar')

### 39. Given a dictionary of fruits and prices, use a for loop to print each fruit and its price

In [76]:
fruits = {"Mango": 90,"Apple": 120,"Strawberry": 160}
for key, value in fruits.items():
    print(key, value)

Mango 90
Apple 120
Strawberry 160

### 40. Create a dictionary of 5 products and their prices. Increase every product's price by 10% using a for loop

In [ ]:
Grosary = {"Book": 80,"pen": 10,"cumpas": 160}


increase = 0

for key, value in Grosary.items():
    value = value + (value * 10 / 100)
    print(key, value)

Book 88.0
pen 11.0
cumpas 176.0

### 41. Given a dictionary of 10 items, delete all items whose value is less than 50 using a for loop

In [ ]:
Grosary = {"Book": 80,"pen": 10,"cumpas": 160,"oil": 180,"sugur": 30,"brush": 30}

for item, price in Grosary.items():  
    if price > 50: 
        print(item)

Book
cumpas
oil

### 42. Create a dictionary of subjects and marks. Add a new subject and mark. Then use a for loop to print all updated keyâ€“value pairs

In [92]:
school = {"Maths": 80,"Sci": 10,"Marathi": 60,"English": 80,"Hindi": 30,"Geography": 75}
school["History"]=99
print(school)

{'Maths': 80, 'Sci': 10, 'Marathi': 60, 'English': 80, 'Hindi': 30, 'Geography': 75, 'History': 99}

### 43. Given a dictionary of names and ages, add 1 year to every age using a for loop

In [94]:
info = {"Sujit": 23,"Sanket": 24,"Harsh": 25}
increase = 0
for key, value in info.items():
    value = value + 1
    print(key, value)

Sujit 24
Sanket 25
Harsh 26

### 44. Print numbers from 0 to 9 using range()

In [3]:
for num in range(0,10):
    print(num)

0
1
2
3
4
5
6
7
8
9

### 45. Print numbers from 5 to 15 using range()

In [ ]:
for num in range(5,16):
    print(num)

5
6
7
8
9
10
11
12
13
14

### 46. Print numbers from 1 to 20 with a step of 2 using range()

In [4]:
for num in range(1,21,2):
    print(num)

1
3
5
7
9
11
13
15
17
19

### 47. Print the length of a given list using len()

In [14]:
lst = [1,2,3,4,5,6,6,4,2]
print(f"Length of integer is: {len(lst)}")

Length of integer is: 9

### 48. Print the length of a given string using len()

In [13]:
str = "SUJIT SANJAY NALAGE"
print(f"Length of string is : {len(str)}")

Length of string is : 19

### 49. Use range() and len() to iterate over a list by index and print each element

In [97]:
Names = ["Sujit", "Sanket", "Harsh", "Sagar"]
for i in range(len(Names)):
    print(Names[i])

Sujit
Sanket
Harsh
Sagar

### 50. Print the sum of numbers from 1 to 100 using range()

In [19]:
total = 0
for num in range(1, 100):
    total += num
print(f"Sum of 1 to 100 is : {total}")

Sum of 1 to 100 is : 4950