# Basic List Operations

1. Create a list of 5 numbers and add a new number to the end.

In [4]:
lst = [1,2,3,4,5]
lst.append(6)
lst

[1, 2, 3, 4, 5, 6]

2. Make a list of fruits and insert a fruit at the second position.

In [ ]:
fruits = ["Mango","Bnana","Apple","Orange"]
fruits.insert(1,"Greps")  # insert one more fruit
fruits

['Mango', 'Greps', 'Bnana', 'Apple', 'Orange']

3. Create a list of names and remove one name from the list.

In [ ]:
stud = ["SUjit","Harsh","Sanket"]
stud.remove("Sanket") # remove the spesific name
stud

['SUjit', 'Harsh']

4. Create a list of 4 items and change the value at index 2.

In [ ]:
items = [1,2,3,4]
items[2] = 5 #it can change the value of index no 2
items

[1, 2, 5, 4]

5. Make a list of numbers and print only the first three elements.

In [ ]:
num = [1,2,3,4,5,6]
num[0:3]

[1, 3, 5]

6. Create a list of colors and find the index of a specific color.

In [14]:
colour = ["White","Orange","Green","Yello"]
colour.index("Green")

2

7. Create a list of 10 numbers and print how many times “5” appears.

In [22]:
a = [1,2,5,3,5,6,7,5,9,5]
a.count(5)

4

8. Make a list of 6 items and delete the item at index 3.

In [ ]:
b = [1,2,3,4,5,6]
del b[3]  # delete the no where index is 4
b

[1, 2, 3, 5, 6]

9. Create a list of animals and add three more animals using extend().

In [32]:
c = ["Lion","Elephent","Tiger"]
c.extend(["Dog","Cat","Zebra"])
c

['Lion', 'Elephent', 'Tiger', 'Dog', 'Cat', 'Zebra']

10. Create a list and remove the last item using pop().

In [34]:
d = [1,2,3,4,5]
d.pop()
d

[1, 2, 3, 4]

11. Create a list of prices and sort them in ascending order.

In [36]:
e = [100,500,200,1000,20,500]
e.sort()
e

[20, 100, 200, 500, 500, 1000]

12. Make a list of countries and reverse the order of the list.

In [38]:
f = ["India","America","France","Canada"]
f.reverse()
f

['Canada', 'France', 'America', 'India']

13. Create a list of words and check if “apple” is in the list.

In [ ]:
g = ["Apple","Banana","Orange"]
g.__contains__("Apple")

True

14. Create a list of numbers and print the largest and smallest number.

In [44]:
h = [10,23,34,56,78,1]
print(max(h),"Is a largest no")
print(min(h),"Is a smallest no")

78 Is a largest no
1 Is a smallest no

15. Make a list of 5 items and print each item using a loop.

In [ ]:
#i dont understand this question

16. Create two lists and combine them into one list.

In [45]:
i = [1,2,3,4]
j = [5,6,7,8]
print(i + j )

[1, 2, 3, 4, 5, 6, 7, 8]

17. Make a list and replace the last item with a new value.

In [47]:
k = ["SUJIT","SANKET","SAGAR"]
k[2] = "VISHAL"
k

['SUJIT', 'SANKET', 'VISHAL']

18. Create a list of numbers and print only the even numbers.

In [ ]:
even = [1,2,3,4,5,6,7,8,9]

2
4
6
8

19. Create a list and clear all items from the list.

In [21]:
a = [10,20,30,40,50]
a.clear

20. Create a list of 5 values and copy it into another list.

In [51]:
list1 = [1,2,3,4,5]
list2 = list1
list2

[1, 2, 3, 4, 5]