### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [1]:
a = {"Name":"SUJIT","Age":25,"City":"Gargoti"}
a

{'Name': 'SUJIT', 'Age': 25, 'City': 'Gargoti'}

### 2. Create a dictionary and print the value of a specific key.

In [3]:
b = {"Name":"SUJIT","Age":25,"City":"Gargoti"}
b["Name"]

'SUJIT'

### 3. Create a list of 5 numbers and print the second element.

In [1]:
c = [1,2,3,4,5]
c[2]

3

### 4. Add an element "banana" to an existing list.

In [ ]:
d = ["Apple","Orange"]
d.append("Banana")
d

['Apple', 'Orange', 'Banana']

### 5. Insert "apple" at index 2 in a list.

In [10]:
d = ["Banana","Orange"]
d.insert(1,"Apple")
d

['Banana', 'Apple', 'Orange']

### 6. Remove the element 10 from a list.

In [15]:
e = [1,2,3,4,5,7,8,9,10]
e.remove(10)
e

[1, 2, 3, 4, 5, 7, 8, 9]

### 7. Create a tuple with 4 elements and print the last one.

In [17]:
f = (1,2,3,4)
f[-1]

4

### 8. Convert a tuple into a list.

In [28]:
g = (21,22,23,24,25)
list(g)

[21, 22, 23, 24, 25]

### 9. Find the length of a given tuple.

In [29]:
h = (1,2,3,6,8,4,2,6)
h.__len__()

8

### 10. Store 5 student names in a list and print them using a loop.

In [35]:
i = ["Sujit","Harsh","Sanlet","Sagar","Vishal"]

for i in i:
    print(i)

Sujit
Harsh
Sanlet
Sagar
Vishal

### 11. Create two lists and concatenate them.

In [37]:
j1 = [1,2,3,4,5]
j2 = [6,7,8,9,0]
j1.extend(j2)
j1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

### 12. Reverse a list without using reverse().

In [39]:
k =[1,2,3,4,5]
k.reverse()
k

[5, 4, 3, 2, 1]

### 13. Sort a list in descending order.

In [ ]:
l = [9,2,3,6,4,0]
l.sort(reverse=(True))
l

[9, 6, 4, 3, 2, 0]

### 14. Create a set with 5 numbers and add a new number.

In [50]:
m = {1,2,3,4}
m.add(5)
m

{1, 2, 3, 4, 5}

### 15. Remove an element from a set using discard().

In [52]:
n = {1,2,3,4,5,6}
n.discard(3)
n

{1, 2, 4, 5, 6}

### 16. Find the union of two sets.

In [54]:
o1 = {1,2,3,4,5,6,7,8,9}
o2 = {9,12,4,43,65,23,1}
o1.union(o2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 23, 43, 65}

### 17. Find the intersection of two sets.

In [55]:
p1 = {1,2,3,4,5,6,7,8,9}
p2 = {9,12,4,43,65,23,1}
p1.intersection(p2)

{1, 4, 9}

### 18. Check if a value exists in a set.

In [58]:
q = {1,2,3,4,5,6,7,8,9}
q.__contains__(2)

True

### 19. Create a set and clear all elements.

In [59]:
r = {1,2,3,4,5,6,7,8,9}
r.clear()

### 20. Convert a list with duplicate values into a set.

In [63]:
s =[1,2,3,3,1,3,4,5,2,5,56,56,2,14,5,6]
set(s)

{1, 2, 3, 4, 5, 6, 14, 56}

### 21. Create a dictionary and update the value of a key.

In [ ]:
t = {"Name":"Sujit"}
t["Name"]= "Sujit"

{'Name': 'Sujit', 'Sujit': 'FName'}

### 22. Delete a key-value pair from a dictionary.

In [69]:
u = {"Name":"SUJIT","Age":25,"City":"Gargoti"}
u.pop("Age")
u

{'Name': 'SUJIT', 'City': 'Gargoti'}

### 23. Print all keys of a dictionary.

In [71]:
v = {"Name":"SUJIT","Age":25,"City":"Gargoti"}
v.keys()

dict_keys(['Name', 'Age', 'City'])

### 24. Print all values of a dictionary.

In [ ]:
w = {"Name":"SUJIT","Age":25,"City":"Gargoti"}
w

{'Name': 'SUJIT', 'Age': 25, 'City': 'Gargoti'}

### 25. Loop through a dictionary and print key and value.

In [2]:
my_dict = {"a": 1, "b": 2, "c": 3}

for key in my_dict:
    print(key, my_dict[key])

a 1
b 2
c 3

### 26. Create a list of numbers and print only even numbers.

In [8]:
num = 13

if  num % 2 == 0:
    print(" number is  even")
else:
    print("number is NOT even")

number is NOT even

### 27. Create a tuple and unpack it into 3 variables.

In [73]:
z = (10,20,30)
a,b,c=z
print(a)
print(b)
print(c)

10
20
30

### 28. Check if a number is greater than 10 using a comparison operator.

In [ ]:
# aa = 21 >10
# aa

if aa > 10:
    print("True")
else:
    print("False")

True

### 29. Use the in operator to check if "python" exists in a list.

In [84]:
bb = [".NET","PYTHON","LINUX"]
if "PYTHON" in bb  :
    print("True")
else:
    print("False")

True

### 30. Use the and operator in a condition.

In [19]:
marks = 60
if marks >= 60 and marks <=100:
    print("Pass in 'A' grade")

Pass in 'A' grade

### 31. Use the % operator to check if a number is divisible by 5.

In [80]:
a = 50 % 5
a

0

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [ ]:
a = 2 ** 5
a

32

### 33. Create two numbers and compare them using >=.

In [17]:
a=10
b=20
a >= b

False

### 34. Create a list and remove the last element using pop().

In [85]:
bb = [".NET","PYTHON","LINUX"]
bb.pop()
bb

['.NET', 'PYTHON']

### 35. Create a list and print its first and last elements.

In [ ]:
bb = [".NET","PYTHON","LINUX"]
print(bb[0],bb[2])

.NET LINUX

### 36. Count how many times "apple" appears in a list.

In [90]:
cou = [".NET","PYTHON","Apple","Banana","Apple"]
cou.count("Apple")

2

### 37. Create a tuple and check if a value exists using in.

In [21]:
tp1 = (1,2,3,4)
(3) in tp1

True

### 38. Convert a dictionaryâ€™s keys into a list.

In [24]:
dic3 = {"Name":"Sujit"}
list(dic3)

['Name']

### 39. Create a nested dictionary for a student (name, marks, subjects).

In [ ]:
dic1_1 = {"Name":"Sujit","Roll_No":1}
dic2_1 = {"Subject":"Maths"}

### 40. Merge two dictionaries into one.

In [7]:
dic1 = {"Name":"Sujit"}
dic2 = {"Address":"Nalage"}
dic1.update(dic2)
dic1

{'Name': 'Sujit', 'Address': 'Nalage'}

### 41. Create a set and print the number of elements.

In [ ]:
ele ={"SUJIt","SANKET","HARSH","SAGAR"}

### 42. Create a dictionary and print all items using items().

In [10]:
dic = {"Name":"Sujit","Address":"Gargoti"}
dic.items()

dict_items([('Name', 'Sujit'), ('Address', 'Gargoti')])

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [ ]:
squ =[a * n for n in range (1,11)]
print(squ)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

### 44. Multiply two numbers and print the result using *.

In [16]:
a=25
b=10
print(a*b)

250

### 45. Divide two numbers and print the results using / and //.

In [ ]:
a=10
b=20
print(a/b)
print(a//b)
print(a%b)

0.5
0
10

### 46. Create a list and replace the element at index 1.

In [67]:
hd = [0,2,9,3,4,5,6,6]
hd [1]=23
hd

[0, 23, 9, 3, 4, 5, 6, 6]

### 47. Create a tuple from user input (3 values).

In [100]:
a = input("Enter first value: ")
b = input("Enter second value: ")
c = input("Enter third value: ")

my_tuple = (a, b, c)

print("Your tuple is:", my_tuple)

Your tuple is: ('1', '12', '13')

### 48. Create a set from a string and print all unique characters.

In [28]:
s1 = {"ajsdhaefjklasdqwu"}
unique = set(s1)
print(unique)

{'ajsdhaefjklasdqwu'}

### 49. Use the is operator to compare two variables.

In [35]:
a=10
b=10
a is b

True

### 50. Create a dictionary and check if a key exists using in.

In [42]:
dict = {"Name":"Sujit","Address":"Gargoti"}
"Name" in(dict)

True

### 51. Write a program to check if a number is between 10 and 50 using and.

In [34]:
a=45
if a > 10 and a < 50:
    print("CORRECT ANSWER")
else:
    print("Wrong Answer")

CORRECT ANSWER

### 52. Check if a number is less than 5 or greater than 20 using or.

In [ ]:
num = 3
num < 5 or num > 20

True

### 53. Use not to check if a list is not empty.

In [102]:
empty = [1,2,3]
if not (empty == []):
    print("Not empty")
else:
    print("Is empty")

Not empty

### 54. Write code to check if a character is a vowel using or.

In [ ]:
vov =input("String")
vovels = "a","e","i","o","u","A","E","I","O","U"
if vov in vovels :
    print(" is a vovel")
else:
    print("is not Vovel")

 is a vovel

### 55. Check if a dictionary has both keys "name" and "age".

In [3]:
age = {"Name":"Sujit","Age":21}
if "Name" in age and "Age" in age:
    print("Both are present")

Both are present

### 56. Verify if a set contains either 10 or 20.

In [4]:
ver = {20,80,10}
if 10  in ver or 20 in ver:
    print("VEIFIED")

VEIFIED

### 57. Use not to check if a number is not equal to 100.

In [103]:
che = 123
che != 100

True

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [1]:
attendence = 78
marks = 36
if marks > 35 and attendence > 75 :
    print("Passed")
else:
    ("Failed")

Passed

### 59. Use logical operators to check if a number is positive and even.

In [ ]:
num = 12

if num > 0 and num % 2 == 0:
    print(" number is positive and even")
else:
    print("number is NOT positive and even")

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [5]:
df = (1,2,3,4,5)
df.__len__() > 3 or df in 0

True