In [49]:
"""    
DATATYPE

*[1] MUTABLE DATATYPES
    1) LIST
    2) DICTIONARY
    3) SET

*[2] IMMUTABLE DATATYPES
     1) INTEGER
     2) FLOAT
     3) TOUPPLE
     4) STRING
     
"""

'    \nDATATYPE\n\n*[1] MUTABLE DATATYPES\n    1) LIST\n    2) DICTIONARY\n    3) SET\n\n*[2] IMMUTABLE DATATYPES\n     1) INTEGER\n     2) FLOAT\n     3) TOUPPLE\n     4) STRING\n\n'

In [ ]:
lst = [10,20,30] #IT SHOW THE DUPLICATE VALUE
#lst.append(9)

#lst2 = [12,3]
#lst.extend(lst2)
#lst.count()
#lst.copy()
#lst.remove(10)
#lst.pop()
#lst.reverse()
#lst.sort()

In [51]:
type(lst)

list

In [52]:
dict = {"NAME":"Sujit","ROLL NO":12}

In [ ]:
#type(dict)
#dict.clear()
#dict.copy()
#dict.pop()

dict

In [54]:
st = {10,20,90,90} # IT CANNOT SHOW DUPLICATE VALUE & CHANGE THE SEQUENCE

In [ ]:
type(st)
#st.clear()
#st.copy()
#st.pop()
#st.remove(10)

set

In [65]:
a =12

In [ ]:
type(a)

int

In [58]:
flt =10.2

In [ ]:
type(flt)

float

In [76]:
s = "sujit nalage"

In [ ]:
type(s)

# s.capitalize - First letetr capital
# s.count() - it show the count in the specific character in the string
# s.endswith()- in this () you can add specific character if the character is ends with string then returs true else false
# s.startswith()-start string with the specific letter then it returns true otherwise false.
# s.lower() - string return in lower case
# s.upper() - string return in upper case
# s.isupper() - if string is in upper case it returns true else false
# s.islower() - if string is in lower case it returns true else false
# s.title() - in the string each word first letter captal

str

In [62]:
tp = (10,12,23,34)

In [ ]:
type(tp)
# tp.count(10) - it show the count of 10 numbers

tuple